/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 29/06/2022, 07:03:27 PM
    Author     : LUISA LEAL
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.formulario{
    width: 400px;
    padding: 30px;
    margin: auto;
    margin-top: 20px;
    border-radius: 4px;
}

.form-control{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;

}